*{margin:0;padding:0;}
html {scroll-behavior: smooth;}
:root{
    word-break: keep-all;/*16px*/ 
    font-size:100%
}
::-webkit-scrollbar{width:0;height:0;}
a{text-decoration: inherit; list-style: none;}
li{list-style:none;}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
p,li{font-family: 'Nanum Gothic', sans-serif;}
/**/
.header{position:fixed;width:1920px;height:80px;margin:25px 0;padding:25px;box-sizing: border-box;
    display: flex; justify-content:space-between; align-items: center;z-index: 100;}
.navbtn{position: relative;width:48px;height:42px;}
.navline{position:absolute;width:48px;height:8px;top:50%;transform: translateY(-50%);background-color: white;transition: all 0.3s ease;transform-origin:left;z-index: 1;}
.navpage{font-size:18px; font-weight: 800;color:white;text-align:right;z-index: 0;}
.navpage div{margin:10px 0;position:absolute;top:25px;right:30px;}
.navpage div a{text-decoration: inherit; list-style: none;color: inherit;}
.navabout{transition: all 0.3s ease;opacity:0;}
.navwork{transition: all 0.3s 0.1s ease;opacity:0;}
.navcontact{transition: all 0.3s 0.2s ease;opacity:0;}
.xnavbtnT{top:10%;}
.xnavbtnB{top:90%;} 
.navabout{left:-48px}

.header-logo { flex-grow: 1;}
.header-logo img{ height:50px;}
.about{position: relative;width:1920px;height:1080px;overflow-y:hidden}
/* .me-bitamp{width:170px;height:170px;background-color: rgb(247, 112, 35);position:absolute;left:0;top:340px;animation: mebitex 5s steps(2) infinite;opacity: 30%;}
@keyframes mebitex{0%{top:340px;}100%{top:0px;}} */
.about-me{position:absolute;width:70%;top:85%;left:15%;transition: all 1s 1.5s ease;opacity: 0;}.about-me.on{top:25%;opacity: 1;}
.me-txt-1{margin-bottom: 30px;}
.me-txt-1 h1 {font-size: 35px;font-weight: 800;}
.me-txt-1 h1 span{font-weight: 300;color:black; font-size:20px;}
.me-txt-1 h3{font-weight: 700;margin:15px 0;color:rgb(247, 112, 35)}
.me-txt-1 p{display: block; width:32%;}
.me-txt-2 h2{font-size:18px;font-weight: 700;color:rgb(247, 112, 35);margin-bottom: 10px;}
.me-txt-2::before{content: ''; width:25px;height:4px;background-color:rgb(75, 75, 75);;display: block;margin:30px 0}

.about-ct{position:absolute;width:0%;height:100%;transition: all 0.8s ease;background-color:rgb(247, 112, 35);left:0}.about-ct.on{width: 100%;animation: aboutpfbox 0.8s 0.8s ease-in forwards;}
@keyframes aboutpfbox {0%{width: 100%}100%{width:30%;left:70%;}}
.about-img{position:absolute;top:25%;left:100%;opacity: 0;transition: all 0.5s 1.5s ease;width:510px;height:510px;background-color:rgb(247, 112, 35) ;}
.about-img.on{opacity:1;left:-29%;}
.about-img span{opacity: 0;color:white}
.profile{width:170px; height:170px;position: absolute;}
.pfimg4{top:0;left:0;opacity:0%;transition: all 0.5s 1.5s ease;}.pfimg4.on{top:0;left:0;opacity:80%;}
.pfimg5{top:0;left:170px;opacity:0%;transition: all 0.5s 1.6s ease;}.pfimg5.on{top:0;left:170px;opacity: 70%;}
.pfimg6{top:0;left:340px;opacity:0%;transition: all 0.5s 1.7s ease;}.pfimg6.on{top:0;left:340px;opacity: 50%;}
.pfimg1{top:170px;left:170px;opacity:0%;transition: all 0.5s 1.8s ease;}.pfimg1.on{top:170px;left:170px;opacity: 100%;}
.pfimg2{top:170px;left:340px;opacity:0%;transition: all 0.5s 1.9s ease;}.pfimg2.on{top:170px;left:340px;opacity: 100%;}
.pfimg3{top:170px;left:0px;opacity:0%;transition: all 0.5s 2s ease;}.pfimg3.on{top:170px;left:0px;opacity:30%;}
.pfimg7{top:340px;left:0;opacity:0%;transition: all 0.5s 2.1s ease;}.pfimg7.on{top:340px;left:0;opacity: 100%;}
.pfimg8{top:340px;left:170px;opacity:0%;transition: all 0.5s 2.2s  ease;}.pfimg8.on{top:340px;left:170px;opacity: 80%;}
.pfimg9{top:340px;left:340px;opacity:0%;transition: all 0.5s 2.3s ease;}.pfimg9.on{top:340px;left:340px;opacity:20%;}
.pfword{position:absolute;display:inline-block;border:2px solid white;font-weight: 300;padding:10px 20px;width:50px;text-align: center;border-radius:25px;opacity: 0;}
.pfimgtxt1{top:12%;left:7.5%}
.pfimgtxt2{top:12%;left:50%;transform: translateX(-50%);}
.pfimgtxt3{top:12%;right:7.5%}
.pfimgtxt4{top:50%;transform:translateY(-50%);left:7.5%}
.pfimgtxt5{top:50%;transform:translate(-50%,-50%);left:50%;}
.pfimgtxt6{top:50%;transform:translateY(-50%);right:7.5%}
.pfimgtxt7{bottom:12%;left:7.5%}
.pfimgtxt8{bottom:12%;left:50%;transform: translateX(-50%);}
.pfimgtxt9{bottom:12%;right:7.5%}
.bitmap{background-color:rgb(247, 112, 35);animation: bfbitex 5s steps(2) infinite;opacity: 50%;}
@keyframes bfbitex{0%{bottom:-170px;left:-170px;}100%{bottom:-170px;left:170px;}}
.bitmap2{background-color:rgb(247, 112, 35);animation: bfbitex2 5s 1s steps(2) infinite;opacity: 80%;}
@keyframes bfbitex2{0%{bottom:-170px;}100%{bottom:-510px;}}